*{
    margin: 0px;
    border: 0px;
    color: white;
    text-decoration:none;
}

       /*js汽泡效果*/
  .wrap {
    width: 100%;
    height: 600px;
    background-image: url(img/mae-mu-XTztXbv6gMs-unsplash.jpg);
    position: relative;
    background-size: cover;
    background-position: center center;
  }
  .bubbles {
    width: 100%;
    height: 91%;
    position: relative;
    overflow: hidden;
  }
  .bubble {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    bottom: -10%;
    animation: up 8s ease-in-out;
  }
  @keyframes up {
    from {
      bottom: -10%;
      opacity: 1;
    }
    to {
      bottom: 110%;
      opacity: .5;
    }
  }

/*导航栏内容*/
.box_1{
    width: 100%;
    height: 80px;
    background:#029fd6;
    position: relative;
    margin: 0 auto;
}
 h3{ width:150px;
    height: 28px;
    margin-top: -57px;
    margin-left: 68px;
    font-size: 30px;
}
p{
    width: 135px;
    height: 24px;
    margin-top: 5px;
    margin-left: 70px;
    font-size: 17px; 
}
.dhl{
    width: 260px;
    height: 30px;
    position: relative;
    left: 290px;
    top: -55px;
    margin: auto;
}
.dhl ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

li{
display:inline;
font-size: 18px;
}


/*头像区样式*/
.logo-warp{
    width: 250px;
    height: 90px;
    margin-left: 7%;
    padding-top: 10px;
}
.logo-warp .logo-img{
    margin-top: 6px;
    margin-right: 18px;
    width: 55px;
    height: 55px;
    background: url(img/cartoon.jpg);
    background-size: 100%;
    border-radius: 25%;
}


/*联系我*/
.card{
    width: 110px;
    height: 22px;
    position: relative;
    top: -70px;
    left: 1020px;
    color: #ffffff;
    font-size: 16px;
}
.card_1 a{
    width: 110px;
    height: 22px;
    position: relative;
    top: -91px;
    left: 1130px;
    color: #ffffff;
    font-size: 16px;
}
li:hover{
    font-size: 1.5em;
    color: #00FFFF;
}

.card_1 a:hover{
    color: #00FFFF;
}

/*banner*/
.content{
    width: 100%;
    height:545px;
    background: rgb(14, 134, 182);
    position: relative;
    overflow: hidden;
}
/*渐变字体*/
#box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    transform: translate(-50%,-50%);
}

.gls h2{
    width: 628px;
    height: 108px;
    position: relative;
    font-size: 70px;
    margin: 0 auto;
    top: -350px;

}


h2 span{
    color: #ff022c;
}
.yes{
    width: 480px;
    height: 20px;
    color: #000;
    position: relative;
    margin: auto;
    top: -50px;
    
}